<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bang & Oulfsen</title>

    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../components.css">

</head>
<body>


<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>


<br>
<br>


<h2>Bang & Oulfsen</h2>

<p>Bang & Oulfsen make high end audio systems. Everything from bluetooth speakers to car audio
    they have a product. I found their main "banner" quite interesting, lately I have seen a lot of websites use a big slider at the center of
    the page this way but this is the first time I have seen fixed elements that overlay a slider like this. This Serves a great purpose for the client to show users product specials or new items
    as a user this is a great way to start a search for whatever they may be searching for.</p>

<h3>Original</h3>


<img src="../images/Bang&Oulfsen.png" alt="Bang & Oulfsen" class="ri">

<br>
<br>

<h3>My attempt</h3>

<div id="BO_wrapper">

    <h1>this is the main heading for the banner/slide</h1>

    <p id="B&O_banner_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<button id="B&O_button">visit sign up page</button>

    <article id="B&O_left">

        <h2 id="B&O_left_h1">Lorem ipsum dolor sit amet</h2>

        <p id="B&O_left_p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </article>


    <article id="B&O_middle">

        <h2 id="B&O_middle_h1">Lorem ipsum dolor sit amet</h2>

        <p id="B&O_middle_p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </article>


    <article id="B&O_right">

        <h2 id="B&O_right_h1">Lorem ipsum dolor sit amet</h2>

        <p id="B&O_right_p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </article>


</div>





</body>
</html>