<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Carefully Considered</title>

    <link rel="stylesheet" href="../styles.css">
    <link rel="script/javascript" href="../main.js">
</head>
<body>


<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>


<br>
<br>



<h2>Carefully Considered</h2>


<p>Carefully Considered is a design website that has a lot of different versions of certain designs this was a really
    interesting site overall but the web aspect that stuck out most to me was the toolbar at the top of the page. I really like how it looks and fits in the page.
    It is out of the way so a user can still see designs but access the tools. For a Client this gives the user a clear and wide view of whatever design may be being viewed. As a user this allows you to navigate
    without the tools being in the way.

</p>

<h3>Original</h3>

<img src="../images/carefully_considered.png" alt="Carefully Considered" class="ri">

<br>
<br>

<h3>My attempt</h3>


<header id="CC_toolbar">

    <nav id="CC_middle_tools">

        <button>view</button>
        <button>grid</button>
        <button>inline</button>
        <button>fullscreen</button>


    </nav>

    <nav id="CC_right_tools">

        <button>comments</button>
        <button>share</button>
        <button>Search</button>

    </nav>

</header>


</body>
</html>