<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cirq</title>

    <link rel="stylesheet" href="../css_files/styles.css">
    <link rel="stylesheet" href="../css_files/cirq.css">

</head>
<body>


<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>





<h2>Cirq</h2>

<p>Cirq is a website all about wine. I am more of a microbrew fan myself but I really enjoy how this website has the footer the overall
    look is cool and the option to put in the user's info at the bottom adds another opportunity to make a sale, this would come in handy working with sites that are trying to sell product. As a client you give the user one last chance to buy your product or sign up for a news letter.
    as a user this is another chance to get an item or if for some reason the user could not find a sign-up/shopping cart this is a clear and concise option.</p>

<h3>Original</h3>


<img src="../images/cirq.png" alt="Cirq" class="ri">



<h3>My attempt</h3>


<footer>




        <label for="name">First:</label>
        <input type="text" required="" name="fist" id="name">

        <label for="name2">Last:</label>
        <input type="text" required="" name="last" id="name2">



        <label for="Email">Email:</label>
        <input type="text" required="" name="email" id="Email">



        <label for="phone">Phone number:</label>
        <input type="tel" required="" name="phone" id="phone">





        <button id="Cirq_sub">Submit</button>




    <aside>

        <h4>company name</h4>

        <br>

        <p>PO Box</p>



        <p>City/State</p>



        <a href="">Company email</a>



            <h4>Credits</h4>



            <a href="">Facebook</a>



            <a href="">Instagram</a>



    </aside>

</footer>



</body>
</html>