<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cloud9</title>

    <link rel="stylesheet" href="../css_files/styles.css">
    <link rel="stylesheet" href="../css%20files/B&O.css">

</head>
<body>



<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>



<h2>Cloud9</h2>

<p>CLoud9 has a side tool nav bar. I have not seen this very often so thought I would give it a try nav bars are great for any web site.
 They allow the user to navigate thi site. Having a side nav bar gives the page an open feel usually all the important content is in the "center stage"
 of a website allowing clear visibility. So it's a good idea to have the nav bar out of the way but still accessible.</p>

<h3>Original</h3>

<img src="../images/Cloud9.png" alt="Cloud9" class="ri">



<h3>My attempt</h3>


<nav id="Cloud9_main_nav">

</nav>

<nav id="Cloud9_sub_nav">
    <ul>
        <li>Open Project</li>
        <li>Ing Project</li>
        <li>News Notice</li>
        <li>News Service</li>
    </ul>
</nav>



</body>
</html>