<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FSB</title>

    <link rel="stylesheet" href="../styles.css">
    <link rel="script/javascript" href="../main.js">

</head>
<body>


<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>


<br>
<br>



<h2>FSB</h2>

<p>FSB is a German website that has beautifully engineered home amenities that are also functional. From this website I really like the homepage layout it is very clean, also while the user scrolls
    there are slight animations that are subtle but add a lot to the feel of the website. As a client this sort of detail to a website makes the company look very professional. As a user this is a very memorable site that has that trust aspect associated with the polished look and feel.</p>

<h3>Original</h3>

<img src="../images/FSB.de.png" alt="FSB" class="ri">

<br>
<br>


<h3>My attempt</h3>


<header id="FSB_header">

    <button id="FSB_menu">Menu</button>

    <h2 id="FSB_name">Company name</h2>

    <h2>Banner header</h2>

</header>





</body>
</html>