<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Inhouse</title>

    <link rel="stylesheet" href="../css_files/styles.css">
    <link rel="stylesheet" href="../css_files/Inhouse.css">

</head>
<body>


<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>



<h2>Inhouse</h2>

<p>Inhouse is a graphic design company. I really like their call to action and also their nav bar it is very simple and pure but still lets the user know where they are at. As a client this style of website gives you a clean and clear look while still leaving an impression. As a user this site is easy
    to navigate and is not cluttered with random pictures or ads. Just simple professional and easy to use.</p>

<h3>Original</h3>

<img src="../images/inhouse.png" alt="Inhouse" class="ri">



<h3>My attempt</h3>



<nav>

    <ul>

        <li>Company</li>

        <li>Featured</li>

        <li>About</li>

        <li>Journal</li>

        <li>Contact</li>

    </ul>

</nav>

<article>

    <h1>Company name</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

</article>



</body>
</html>