<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Intel</title>

    <link rel="stylesheet" href="../styles.css">
    <link rel="script/javascript" href="../main.js">

</head>
<body>


<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>


<br>
<br>



<h2>Intel</h2>

<p>Intel has been around for awhile and I do not think they will be leaving us anytime soon. As you may know Intel makes processors. However Intel's website was pretty cool to play around
    on no surprise a company like that has an awesome website. I really like the style of the drop down for Intel's website one tab drops down then the sub-section tab slides to the left of right allowing for clear navigation. As a client this sort of navigation will help the user find what they need. Especially important when trying to sell a product. As a user this makes navigating easier, in turn making the user more
    likely to find the product they are looking for and to purchase that product. </p>

<h3>Original</h3>

<img src="../images/intel.png" alt="Intel" class="ri">

<br>
<br>

<h3>My attempt</h3>


<header id="Intel_header">

    <h2 id="Intel_logo">logo</h2>

    <select id="Intel_dropdown">
        <option value="menu">Menu</option>
        <option value="products">Products</option>
        <option value="topic">Topics</option>
        <option value="support">Support</option>
        <option value="about">About</option>
    </select>

    <select id="Intel_menu_hidden">
        <option value="option1">option1</option>
        <option value="option2">option2</option>
        <option value="option3">option3</option>
        <option value="option4">option4</option>
        <option value="option5">option5</option>
    </select>

</header>

</body>
</html>