<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My Carrier</title>

    <link rel="stylesheet" href="../css_files/styles.css">
    <link rel="stylesheet" href="../css_files/my_carrier.css">

</head>
<body>



<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>



<h2>My Carrier</h2>

<p>My Carrier is a travel planner. I really like their log in the overall look is very clean and professional. This style of page has plenty of negative space and uses darker colors to attract attention to aspects of interest. As a client having a page
    like this probably turns into having a lot of users. The page has a natural flow to it and this makes it easy to use. As users we like easy to use.</p>

<h3>Original</h3>

<img src="../images/my_carrier.png" alt="My Carrier" class="ri">


<h3>My attempt</h3>



<article>

    <h3>Sign in</h3>



    <label for="my_carrier_email">Email</label>

    <input type="email" id="my_carrier_email">



    <label for="my_carrier_pass">Password</label>

    <input type="password" id="my_carrier_pass">



    <a href="">Forgot your password?</a>

 
    <button type="button">Sign in</button>


</article>


    <article>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <a href="">Create an account now</a>

    </article>






</body>
</html>