<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ondo</title>

    <link rel="stylesheet" href="../styles.css">
    <link rel="script/javascript" href="../main.js">

</head>
<body>



<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>


<br>
<br>


<h2>Ondo</h2>

<p>Ondo is pretty incredible, I cannot honestly tell you what they are all about but from what I got a lot of interior design. If anyone gets a chance go visit their website. The animation for the whole page is smooth and really
    entrancing. I only hope to get anywhere near that level with CSS. As a client having a page this memorable is a feat of it's own with having a user that probably has seen 20 other sites doing the same sort of thing. As a user this is just plain cool, seeing what kind of website this group has
    makes me want to see what they do in their profession.</p>

<h3>Original</h3>

<img src="../images/Ondo.png" alt="Ondo" class="ri">

<br>
<br>

<h3>My attempt</h3>

</body>
</html>