<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Print Mor</title>

    <link rel="stylesheet" href="../styles.css">
    <link rel="script/javascript" href="../main.js">

</head>
<body>


<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>


<br>
<br>



<h2>Print Mor</h2>

<p>Print Mor is a graphic design company that has a very cool website. I really like their nav bar and how the graphic from the background
    flows into that actual nav bar giving the overall page a feel of continuity. As a client these sorts of graphics and flow are a good indicator to the possible customer of what you as a graphic design firm could do for them. As a user seeing this is kind of a sales pitch and a good one at that.</p>

<h3>Original</h3>

<img src="../images/print_mor.png" alt="Print Mor" class="ri">

<br>
<br>

<h3>My attempt</h3>

<div id="print_mor_body">

<div id="Print_mor_wrapper">

<header id="print_mor_header">

    <h3>Company Logo</h3>

    <ul>
        <li>About</li>
        <li>Services</li>
        <li>Resources</li>
        <li>Get a Quote/</li>
        <li>Contact</li>
    </ul>

    <h4>Upload files</h4>

</header>

</div>

</div>



</body>
</html>