<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Untitled</title>

    <link rel="stylesheet" href="../styles.css">
    <link rel="script/javascript" href="../main.js">

</head>
<body>


<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>


<br>
<br>



<h2>Mission Statement</h2>

<p>This website I came across when I first started my WDD classes and I could not find it again to give them credit. I really enjoy the mission statement this page has and how little color is used in the overall website but the website still feels creative.</p>

<h3>Original</h3>

<img src="../images/Screen%20Shot%202015-05-05%20at%206.07.41%20PM.png" alt="Mission Statement" class="ri">

<br>
<br>

<h3>My attempt</h3>


</body>
</html>