<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Untitled</title>

    <link rel="stylesheet" href="../css_files/styles.css">
    <link rel="stylesheet" href="../css_files/untitled.css">

</head>
<body>


<ul id="main_nav">
    <li><a href="../components.html">Components</a></li>
    <li><a href="../future_ideas.html">Works in Progress</a></li>
    <li><a href="../index.html">Home</a></li>
</ul>




<h2>Mission Statement</h2>

<p>This website I came across when I first started my WDD classes and I could not find it again to give them credit. I really enjoy the mission statement this page has and how little color is used in the overall website but the website still feels creative.</p>

<h3>Original</h3>

<img src="../images/Screen%20Shot%202015-05-05%20at%206.07.41%20PM.png" alt="Mission Statement" class="ri">



<h2>My attempt</h2>

<header>
    <h3 a="">Menu</h3>
    <h3 a="">Social media</h3>
    <ul>
        <li>Home</li>
        <li>Services</li>
        <li>Portfolio</li>
        <li>Contact</li>
    </ul>
</header>



<nav>
    <ul>
        <li>About</li>
        <li>Services</li>
        <li>Portfolio</li>
    </ul>

</nav>

    <h1>We promote clean aesthetic</h1>


<article >
    <h2>Company CTA</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>



    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>



    <a href="">Read More</a>

</article>





</body>
</html>